---
import { Icon } from "astro-icon/components";
---

<section class="my-5 container-fluid">
  <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-4 px-5 mb-5">
    <h4 class="h4 fw-700 m-0">Aceleração 2024</h4>

    <h4 class="h4 fw-300 m-0">
      <Icon name="mdi:rocket-launch" color='#E0E0E0' size={45} />
    </h4>

    <div class="border justify-self-end flex-grow-1 line d-none d-md-inline-block"></div>
  </div>

  <div class="gray-primary-bg container rounded p-4 d-flex align-items-center justify-content-around flex-wrap gap-5">
    <img src="/img/acceleration/ideacao.png" alt="Inova Amazônia Ideação">
    <img src="/img/acceleration/tracao.png" alt="Inova Amazônia Tração">
    <img src="/img/acceleration/inovativa.png" alt="Inovativa de Impacto">
    <img src="/img/acceleration/senai.png" alt="HUB 2024 de inovação senai sesi - programa startup indústria amapá">
  </div>
</section>

<style lang="scss">
  @media (max-width: 1200px) {
  }
</style>
