---
import { Icon } from "astro-icon/components";
import SectionHeader from "../SectionHeader/SectionHeader.astro";
---

<section id="acceleration" class="p-8 lg:p-16">
    <div class="w-11/12 mx-auto flex items-center gap-5 mb-12">
        <p class="text-3xl whitespace-nowrap font-bold flex items-center gap-5 text-primary">
            <span>Aceleração 2024</span>
            <Icon size={50} name="mdi:rocket" color="#E0E0E0" />
        </p>

        <div class="w-full line"></div>
    </div>

    <div class="bg-gray-500 rounded flex flex-col lg:flex-row justify-center gap-12 items-center p-5 shadow-md">
        <img src="/img/acceleration/ideacao.png"   alt="Inova Amazônia Ideação" />
        <img src="/img/acceleration/tracao.png"    alt="Inova Amazônia Tração" />
        <img src="/img/acceleration/inovativa.png" alt="Inovativa de Impacto" />
        <img src="/img/acceleration/senai.png"     alt="HUB 2024 de inovação senai sesi - programa startup indústria amapá" />
    </div>
</section>

<style>
    .line {
        border-top-width: 1px;
        border-style: solid;
        border-color: var(--gray-2) !important;
    }
</style>
