---
import SectionHeader from "../SectionHeader/SectionHeader.astro"

const sectionElements: string[] = [
    'Tinta sustentáveis podem custar até 3X mais que <br/> uma tinta comum.',
    'Muitos ainda utilizam <b>pigmentos tóxicos com <br/> metais pesados</b> que contaminam o solo e a água.',
    'Possuem muitos compostos voláteis que contaminam a <br/> atmosfera e representam risco a nossa saúde.',
    'Podem causar reações alérgicas.',
    'Podem causar intoxicações graves.'
]
---

<section id="about" class="bg-gray-600 p-16 relative">
    <SectionHeader title="Tintas tradicionais" color="gray-2" />

    <div class="flex flex-col gap-4 lg:flex-row gap-x-16 w-12/12 lg:w-9/12 mx-auto">
        <div class="flex lg:flex-col justify-center lg:justify-start lg:gap-10 w-100">
            <img src="/img/traditional-paints/dollar.svg" width="100" />
            <img src="/img/traditional-paints/skull.svg" width="100" />
            <img src="/img/traditional-paints/skull-chart.svg" width="100" />
        </div>

        <div class="flex flex-col gap-3 lg:gap-5">
            {sectionElements.map((item, index) => (
                <div class="flex gap-4">
                    <span class="bg-gray-100 text-white min-w-14 min-h-14 max-w-14 max-h-14 font-black flex items-center justify-center rounded-full">{index + 1}</span>
                    <p set:html={item} class="font-normal mt-3"></p>
                </div>
            ))}
        </div>
    </div>

    <img src="/img/traditional-paints/scientist.svg" width="500" class="hidden xl:block absolute bottom-0 right-0" />
</section>
