---
import { Icon } from "astro-icon/components";
import SectionHeader from "../SectionHeader/SectionHeader.astro";
---

<section id="business-model" class="p-8 lg:p-16">
    <SectionHeader title="Modelo de negócio" color="green-primary" />

    <div class="flex gap-2 items-center justify-center lg:justify-start lg:w-11/12 mx-auto">
        <img src="img/business-model/arrow-right.svg" alt="seta pra a direita">
        <h1 class="m-0 text-primary text-6xl font-bold">B2B</h1>
        <img src="img/business-model/bag.svg" alt="seta pra a direita">
    </div>

    <div class="grid lg:w-8/12 lg:grid-cols-3 justify-center mx-auto mt-12">
        <div class="mb-4">
            <div class="flex gap-6">
                <Icon name="mdi:chart-donut" size={70} color="#4F4F4F" />

                <div class="">
                    <span class="font-bold text-primary text-lg">Nichos:</span>
                    <p class="m-0 text-primary text-base">
                        Construção, <br />
                        Reformas, <br />
                        Arquitetura e <br />
                        Sustentabilidade.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col gap-6">
            <div class="flex gap-6">
                <Icon name="mdi:cart-outline" size={70} color="#4F4F4F" />

                <div class="">
                    <span class="font-bold text-primary text-lg">Canais:</span>
                    <p class="m-0 text-primary text-base">
                        Lojas revendedoras <br />
                        e-commerces <br />
                        Redes Sociais
                    </p>
                </div>
            </div>

            <div class="flex gap-6">
                <Icon name="mdi:search" size={70} color="#4F4F4F" />

                <div class="">
                    <span class="font-bold text-primary text-lg">Prospecção:</span>
                    <p class="m-0 text-primary text-base">Feiras e Eventos.</p>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center">
            <img src="/img/business-model/card.svg" alt="Imagem de um cartão de crédito">
        </div>
    </div>
</section>
