---
import { Icon } from "astro-icon/components";
---

<section class="business-model container-fluid pt-5">
  <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-4 px-5 mb-2">
    <h4 class="h4 fw-700 m-0">Modelo de negócio</h4>
    <div class="border justify-self-end flex-grow-1 line d-none d-md-inline-block"></div>
  </div>

  <h1 class="px-5 h1 fw-700 green-primary d-flex align-items-center justify-content-center justify-content-md-start gap-3 mb-5">
    <img src="/img/svg/business-model-arrow-right.svg" alt="" width="20" />
    B2B
    <img src="/img/svg/business-model-bag-bold.svg" alt="" width="35" />
  </h1>

  <div class="container">
    <div class="row">
        <div class="col col-12 col-md-4 justify-content-center d-flex gap-4 align-items-start p-4 p-md-0">
            <Icon name="mdi:chart-pie" size={60} color='#4F4F4F' />
            <div class="green-primary">
                <b class="fw-700">Nichos:</b>
                <p class="m-0">Construção,</p>
                <p class="m-0">Reforma,</p>
                <p class="m-0">Arquitetura e</p>
                <p class="m-0">Sustentabilidade.</p>
            </div>
        </div>
        <div class="col col-12 col-md-4 d-flex flex-column align-items-center p-4 p-md-0">
            <div class="d-flex gap-4 mb-3">
                <Icon name="mdi:cart" size={60} color='#4F4F4F' />
                <div class="green-primary">
                    <b class="fw-700">Canais:</b>
                    <p class="m-0">Lojas revendedoras</p>
                    <p class="m-0">e-commerces</p>
                    <p class="m-0">Redes Sociais</p>
                </div>
            </div>

            <div class="d-flex gap-4">
                <Icon name="mdi:search" size={60} color='#4F4F4F' />
                <div class="green-primary">
                    <b class="fw-700">Prospecção:</b>
                    <p class="m-0">Feiras e Eventos.</p>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-4 d-flex flex-column align-items-center p-4 p-md-0">
            <img src="/img/svg/business-model-card.svg" alt="Imagem de um cartão de crédito">
        </div>
    </div>
  </div>
</section>

<style lang="scss"></style>
