---
import SectionHeader from "../SectionHeader/SectionHeader.astro";

const listItems: string[] = [
    "Tinta mais acessivel",
    "Pigmentos naturais",
    "Baixo teor de compostos voláteis",
    "Biodegradável",
];
---

<section id="solution" class="p-16 bg-primary">
    <SectionHeader title="Solução" subtitle="Ecotinta" color="green-secondary" />

    <div class="grid lg:grid-cols-2 lg:w-9/12 mx-auto">
        <div class="">
            <img src="/img/solution/tinta.png" class="" alt="lara de tinta da GreenColors" />
        </div>

        <div class="pt-32 flex flex-col gap-7 items-start">
            <h1 class="text-white text-4xl font-bold uppercase m-0">Ecotinta</h1>

            <span class="text-secondary border-secondary border py-1 text-sm font-light- px-6 rounded-full">Tinta segura e amiga da natureza.</span>

            <div class="flex flex-col gap-4">
                {
                    listItems.map((text: string) => (
                        <p class="m-0 flex gap-3 items-center">
                            <span class="text-4xl text-secondary">➜</span>
                            <span class="text-white text-base md:text-2xl">{text}</span>
                        </p>
                    ))
                }
            </div>
        </div>
    </div>
</section>
