---
import Logo from "./Logo.astro";

import { Icon } from "astro-icon/components";

interface Footer {}
---

<footer class="gray-primary-bg p-1 p-md-5">
  <div class="container p-5">
    <div class="row">
      <div class="col col-12 col-md-4 'text-center">
        <Logo style="br" />
      </div>

      <div class="col col-12 col-md-4 mt-4 mt-md-0 position-relative">
        <h1 class="h3 fw-bold m-0 green-primary">Dúvidas?</h1>
        <h3 class="h5 fw-300 green-primary">Fale com a gente.</h3>

        <nav class="d-flex mt-5 flex-column align-items-start gap-1">
          <a
            target="_blank"
            href="https://wa.me/send/5596991861617"
            class="btn btn-green-second fw-300"
          >
            <Icon size={20} name="mdi:whatsapp" /> WhatsApp
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/tintasgreencolors"
            class="btn btn-green-second fw-300 mt-2"
          >
            <Icon size={20} name="mdi:instagram" /> Instagram
          </a>

          <a
            href="https://wa.me/send/5596991861617"
            target="_blank"
            class="btn fw-400 mt-3 text-muted p-0"
          >
            <Icon size={20} name="mdi:phone" /> +55 (96) 9 8186-1617</a
          >
        </nav>
      </div>

      <div class="col col-12 col-md-4 text-muted mt-4 mt-md-0 position-relative">
        <p class="m-0 mb-5">Endereço: Rua Maria da Conceição dos Santos, Novo Horizonte - Macapá - AP CEP: 68.909-807</p>
        <p class="">®Green Colors 2024 | Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .col:nth-child(2)::before,
  .col:nth-child(3)::before {
    content: '';
    position: absolute;
    left: -100px;
    background-color: var(--gray-second);
    width: 2px;
  }

  .col:nth-child(2)::before {
    height: 100%;
  }

  .col:nth-child(3)::before {
    height: 50%;
  }

  @media (max-width: 1200px) {
    .col:nth-child(2)::before,
    .col:nth-child(3)::before {
      display: none;
    }
  }
</style>
