---
import Logo from "./Logo.astro";
import { Icon } from "astro-icon/components";
---

<script>
  document
    .querySelector(".btn-collapse-menu")
    ?.addEventListener("click", (e) => {
      document.querySelector('.links')?.classList.toggle('is-open')
    });

    window.addEventListener("resize", function() {
      if (window.innerWidth <= 768) {
        document.querySelector('.links')?.classList.remove('is-open')
      }
    });
</script>

<nav class="navbar navbar-light p-4">
  <div class="brand">
    <Logo />
  </div>

  <button class="btn btn-collapse-menu d-md-none rounded-0">
    <Icon size={22} name="mdi:hamburger-menu" />
  </button>

  <div class="links d-flex flex-column flex-md-row gap-2 gap-md-5 w-100 align-items-center">
    <a href="#about-section" class="btn p-0 text-muted fw-500">Sobre</a>
    <a href="#ecotinta-section" class="btn p-0 text-muted fw-500">Ecotintas</a>
    <a href="#team-section" class="btn p-0 text-muted fw-500">Equipe</a>
    <a
      href="https://wa.me/559691861617"
      target="_blank"
      class="btn btn-green-second d-flex align-items-center gap-2 p-3"
    >
      <Icon size={22} name="mdi:whatsapp" />
      <span>Fale conosco</span>
    </a>
  </div>
</nav>

<header class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col col-12 col-md-6">
        <h1 class="h1 h1-responsive fw-600 green-primary mb-5">
          Tintas biodegradáveis e livre de metais pesados.
        </h1>
        <p class="m-0 green-primary fw-400">
          Traga novas cores aos ambientes da sua casa com <br /> segurança, sem produtos
          que comprometam sua <br /> saúde e o meio ambiente.
        </p>
      </div>
      <div class="col col-12 col-md-6 mt-5 mt-md-0">
        <img src="/img/top/paint.png" class="d-inline-block w-100" alt="" />
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  .links {
    transition: all .3s;
    height: 0;
    overflow: hidden;
    // padding: 0 !important;

    &.is-open {
      height: fit-content;
      // padding: 1rem !important;
    }
  }
  // @media (max-width: 767) {
  // }

  @media (min-width: 768px) {
    .links {
      width: fit-content !important;
      height: auto;
    }
  }
</style>
