---
interface Props {
    label: string;
    href?: string;
    target?: string;
    customClass?: string;
}

const {
    label = "Astro",
    href = "#",
    target = "_blank",
    customClass
} = Astro.props;
---

{
    <a href={href} target={target} class={'btn '.concat(customClass ?? '')}>
        {label}
    </a>
}
