---
import { Icon } from "astro-icon/components";
import Brand from "../Brand/Brand.astro";
---

<footer class="p-16 bg-gray-500">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:w-10/12 mx-auto">
        <div class="col-brand">
            <Brand style="br" />
        </div>

        <div class="flex flex-col items-start col-contacts relative">
            <p class="text-primary font-bold text-3xl">Dúvidas?</p>
            <p class="text-primary font-normal text-lg mb-5">Fale com a gente.</p>

            <a href="https://wa.me/559691861617" target="_blank" class="flex items-center gap-2 bg-secondary p-4 mb-5 rounded-md text-primary font-medium hover:bg-green-500 transition">
                <Icon size={22} name="mdi:whatsapp" /> <span>WhatsApp</span>
            </a>


            <a href="https://wa.me/559691861617" target="_blank" class="flex items-center gap-2 bg-secondary p-4 mb-5 rounded-md text-primary font-medium hover:bg-green-500 transition">
                <Icon size={22} name="mdi:instagram" /> <span>Instagram</span>
            </a>

            <a href="https://wa.me/send/5596991861617" target="_blank" class="flex gap-2 text-gray-200 text-sm">
                <Icon size={20} name="mdi:phone" />
                <span>+55 (96) 9 8186-1617</span>
            </a>
        </div>

        <div class="col-address relative">
            <p class="font-normal text-sm mb-5 text-gray-200">Endereço: Rua Maria da Conceição dos Santos, Novo Horizonte - Macapá - AP CEP: 68.909-807</p>
            <p class="font-normal text-sm mb-5 text-gray-200">®Green Colors 2024 | Todos os direitos reservados.</p>
        </div>
    </div>
</footer>

<style>
    .col-contacts::before,
    .col-address::before {
        content: "";
        position: absolute;
        left: -100px;
        background-color: var(--gray-4);
        width: 2px;
    }

    .col-contacts::before {
        height: 100%;
    }

    .col-address::before {
        height: 50%;
    }

    @media (max-width: 1200px) {
        .col-contacts::before,
        .col-address::before {
            display: none;
        }
    }
</style>
